
body {
  width: 90%;
  max-width: 48em;
  background-color: #ffcccc;
  margin: 5% auto;
}

figure,
figcaption {
  margin: 0;
}

/* flexible images */

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

h1 {
   background-color: rgb(102,51,0);
   padding: 1em;
   border-radius: .5em;
   margin: 0 0 1em 0;
}
p {
   background-color: #ffcccc;
}

h1 {
color: #ffffff;
font-family: Helvetica;
}

p {
font-family: Helvetica, serif;
font-size: 1.0em;
line-height: 1.15;
letter-spacing: 1px;
word-spacing: -.03em;
color: #333;

}

h2{
font-family: Helvetica, serif;
font-size: 1.03em;
line-height: 1.15;
letter-spacing: 1px;
word-spacing: -.03em;
color: #333;
}

h3{
font-family: Helvetica, serif;
font-size: 1.03em;
line-height: 1.15;
letter-spacing: 1px;
word-spacing: -.03em
color: #333;
}

dl{
  font-family: Helvetica, serif;
  font-size: 1.03em;
  line-height: 1.15;
  letter-spacing: 1px;
  word-spacing: -.1em
  color: #333;
}

#product {
float: right;
max-width: 50%;
text-align: center;
margin: 0 0.5em 0.5em 0;
}

#product {
  border: 1em solid rgb(102,51,0);
}

#info {
text-align: left;
}

#info dt {
font-weight: bold;
}

#info dd {
margin-left: 0;
}

#ingredients {
margin: 1em 0 0 0;
clear: both;
}

#ingredients ul {
list-style: disc;
padding-left: 1em;
}

#ingredients {
  font-family: Helvetica, serif;
  font-size: 1.03em;
  line-height: 1.15;
  letter-spacing: 1px;
  word-spacing: -.1em
  color: #333;
}

#directions {
  font-family: Helvetica, serif;
  font-size: 1.03em;
  line-height: 1.15;
  letter-spacing: 1px;
  word-spacing: -.1em
  color: #333;
}

#caption {
  font-family: Helvetica, serif;
  font-size: 1.03em;
  line-height: 1.15;
  letter-spacing: 1px;
  word-spacing: -.1em
  color: #333;
}

/* #ingredients li {
padding: .5em 0;
border-top: 1px solid #000;
} */

@media (min-width: 48em)
